<div id="slide1" class="d-flex">
  <div class="section" id="left">
    <button class="btn" data-toggle="modal" data-target="#newEventModal">Créer un évenement</button>
  </div>
  <div class="section" id="right">
    <button class="btn"><%= link_to "Trouver un évenement", event_index_path %></button>
  </div>
  <div class="section2" id="full">
    <button class="btn">Créer un évenement</button>
    <button class="btn">Trouver un évenement</button>
  </div>
</div>