// new

#container-new-event{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
    .event-new-form{
      background: white;
      width: 40%;
      margin: 0 auto;
      border-radius: 15px;
      padding: 2rem;
    }


    .flatpickr{
      border: 1px solid lightgrey;
      border-radius: 5px;
      padding: 3px 8px 2px 4px;
    }

    .datepicker{
      border: none;
    }


// index

.container-index-event{
  width: 100%;
  background: url(image-path('background10.jpg')) center no-repeat fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
  padding: 20px;
  min-height: 100vh;
  background-attachment: fixed;
}

.search-form{
  color: white;
  justify-content: center;
  margin-top: 4rem;
  align-items: center;
}

.search-form span{
  margin-right: 6px;
}


#search-bar{
  width: 10vw;
  border-radius: 15px;
  padding: 5px 5px 5px 10px;
  border: none;
  background: RGBA(254,145,44,0.6);
  color: white;
}

#search-bar::placeholder{
  color: white;
}

#search-bar:focus{
  background: RGBA(254,145,44,0.6);
}

.submit-form{
  background: none;
  border: none;
  transition-delay: 0.4s;
}

.submit-form:hover{
  cursor: pointer;
}

.submit-form:hover > .fa-search{
  cursor: pointer;
  color: black;
}

.fa-search{
  background: none;
  color: white;
  font-size: 1.3rem;
}

@media screen and (max-width: 770px) {
  .search-form {
    flex-direction: column;
  }

  #search-form{
    display: flex;
    flex-direction: column;
    width: 15rem;
  }

  #search-bar{
    margin-bottom: 5px;
    width: 100%;
  }
}

/*
.wrapper-index-event{
  display: grid;
  height: auto;
  margin-top: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px 20px;
  grid-auto-rows: 30vh;
}

.div-event{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-rows: 1fr 2fr 1fr;
  background: black;
}

.div-event .w1{
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2667FF;
  padding: 5px 0;
}

.div-event .w2{
  grid-column:1;
  grid-row: 2;
  background: #3F8EFC;
}

.div-event .wrapper-index-event-3{
  grid-column:2;
  grid-row: 2;
  background: #ADD7F6;
}

.div-event .wrapper-index-event-3 p{
  margin-left: 10%;
}

.div-event .w4{
  grid-column: 1 / 3;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-event .w5{
  grid-column: 1;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-event .w6{
  grid-column: 2;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add-guest{
  background: #3B28CC;
  border: none;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-add-guest:hover{
  background: #4E598C;
  cursor: pointer;
}

.btn-delete-guest{
  background: #CC2936;
  border: none;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-delete-guest:hover{
  background: rgb(248, 1, 42);
  cursor: pointer;
}

.btn-unsubscribed-guest{
  background: rgb(49, 212, 212);
  border: none;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-unsubscribed-guest:hover{
  background: rgb(1, 248, 153);
  cursor: pointer;
}

.btn-edit-guest{
  background: rgb(23, 206, 99);
  border: none;
  height: 100%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-edit-guest:hover{
  background: rgb(6, 155, 13);
  cursor: pointer;
}

*/



// newindex

.container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.more-info-index-event{
  position: absolute;
  height: 4vh;
  width: 4vh;
  background: none;
  right: 2%;
  top: 3%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition-delay: 0.4s;
}

.container .card:hover .more-info-index-event{
  opacity: 1;
}

.more-info-index-event:hover{
  background: #232323;
  color: whitesmoke;
  transition-delay: 0s;
}

.container .card{
  position: relative;
  width: 320px;
  height: 250px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
}

.container .card:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: grey;
  clip-path: circle(50px at 90% 10%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before{
  background: #F5F1E3;
  clip-path: circle(300px at 50% 50%);
}

.container .card .contentBx h2{
  transition-delay: 0.4s;
}

.container .card:hover .contentBx h2{
  color: black;
}

.container .card .contentBx{
  position: absolute;
  bottom: 10%;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx{
  height: 190px;
}

.container .card .contentBx h2{
  position: relative;
  font-weight: 800;
  letter-spacing: 1px;
  color: #fff;
}

.container .card .contentBx .horaire,
.container .card .contentBx .date{
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.container .card:hover .contentBx .date{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.container .card:hover .contentBx .horaire{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .horaire h3,
.container .card .contentBx .date h3{
  color: black;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .date span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
}

.container .card .contentBx .btn-subscrib{
  padding: 10px 20px;
  background: #DDDBCB;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBx .btn-subscrib{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

.container .card .contentBx .btn-subscrib:hover{
  background: #232323;
  color: white;
  cursor: pointer;
  transition-delay: 0s;
}