/*
.container-my_events{
    width: 100%;
    background: black;
    padding: 20px;
}


.container-my_events .container-fluid{
    margin-top: 3rem;
    height: auto;
}

.event_card{
    height: auto;
    background: whitesmoke;
    margin: 1.5rem 1rem 1rem 1rem;
    padding: 0;
}

.event_card-invisible{
    height: auto;
    opacity: 0;
    margin: 0 1rem 1rem 1rem;
}

.events-title{
    background: blue;
    width: 80%;
    margin: 0 auto;
    transform: translate(0, -15px);
}

.event_card ul{
    list-style: none;
    margin: 0; 
    padding: 0;
}

.my_event_description{
    word-wrap:break-word;
}

.my_event_informations{
}

.my_event_edit_button{
    width: 100%;
    border: none;
    background: rgb(66, 206, 140);
    cursor: pointer;
}

.my_event_edit_button:hover{
    background: rgb(15, 105, 63);
}

.event-article{
    padding-left: 3rem;
    padding-right: 2rem;
} */

.container-index-event h1{
    margin-top: 3rem;
}

.link-to-chat{
    position: absolute;
    height: 4vh;
    width: 4vh;
    background: none;
    top: 3%;
    left: 2%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition-delay: 0.4s;
}

.container .card:hover .link-to-chat{
    opacity: 1;
  }
  
  .link-to-chat:hover{
    background: #232323;
    color: whitesmoke;
    transition-delay: 0s;
  }

  .card-edit-event{
    position: absolute;
    height: 4vh;
    width: 4vh;
    background: none;
    bottom: 3%;
    left: 2%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition-delay: 0.4s;
}

.container .card:hover .card-edit-event{
    opacity: 1;
  }
  
  .card-edit-event:hover{
    background: #232323;
    color: whitesmoke;
    transition-delay: 0s;
  }


  .card-delete-event{
    position: absolute;
    height: 4vh;
    width: 4vh;
    bottom: 3%;
    right: 2%;  
}

.card-delete-event button{
    height: 4vh;
    width: 4vh;
    background: none;
    bottom: 3%;
    right: 2%;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition-delay: 0.4s;
}

.container .card:hover .card-delete-event button{
    opacity: 1;
  }
  
  .card-delete-event button:hover{
    background: #232323;
    color: whitesmoke;
    transition-delay: 0s;
  }


  .refuse-events{
    position: absolute;
    height: 4vh;
    width: 4vh;
    top: 3%;
    left: 2%;  
}

.refuse-events button{
    height: 4vh;
    width: 4vh;
    background: none;
    bottom: 3%;
    right: 2%;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    transition-delay: 0.4s;
}

.container .card:hover .refuse-events button{
    opacity: 1;
  }
  
  .refuse-events button:hover{
    background: #232323;
    color: whitesmoke;
    transition-delay: 0s;
  }